

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 70vh;
    
}


main {
    margin-top: 7%;
    text-align: center;
    position: relative;
}
iframe {
    top: 80px;
    left: 819px;
    width: 285px;
    height: 510px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    
}
img {
    height: 663px;
}
 * {
    margin: 0;
    padding: 0;
 }
 
 section img {
   text-align: right;
    width: 20%;
    height: 20%;
    border-radius: 50%;
 }
 
 #redesociais {
    border: 2px solid red ;
    width: 600px;
    top: 20px;
    gap: 100px;
    right: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
 }
